{% extends 'main.html' %}
{% load static %}
{% block title %} User Locker {% endblock %}

{% block content %}
<h1 class="mt-3">YOUR LOCKER</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-sm btn-primary" href="{% url 'home-page' %}" role="button">back to home</a>
    <a class="btn btn-sm btn-dark" href="{% url 'locker-form' %}" role="button">add to locker</a>
</div>
<hr>
<div class="container overflow-hidden">
    <div class="row">
        {% for item in locker_items %}
        <div class="col-12 col-md-6 col-lg-4 g-3">
            <div class="locker-items p-3">
                <h5>Site Name - {{ item.site_name }}</h5>
                <p>Site URL - {{ item.site_url }}</p>
                <p>Date Created - {{ item.created }}</p>
                <hr>
                <a class="btn btn-primary" href="{% url 'selected-item' item.id %}" role="button">View All</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}