{% load static %}

<footer class="text-center text-dark">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="">
            <!-- Twitter -->
            <a
                    class="btn text-white btn-floating m-1"
                    style="background-color: #55acee;"
                    href="https://mobile.twitter.com/deyemihay"
                    target="_blank"
                    role="button"
            ><i class="bi bi-twitter"></i
            ></a>

            <!-- Instagram -->
            <a
                    class="btn text-white btn-floating m-1"
                    style="background-color: #ac2bac;"
                    href="http://instagram.com"
                    target="_blank"
                    role="button"
            ><i class="bi bi-instagram"></i
            ></a>

            <!-- Github -->
            <a
                    class="btn text-white btn-floating m-1"
                    style="background-color: #333333;"
                    href="https://github.com/deyemihay"
                    target="_blank"
                    role="button"
            ><i class="bi bi-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2">
        © 2023 Copyright: A O Akintunde
    </div>
    <!-- Copyright -->
</footer>
